@model Proyecto_Web.Entities.Producto

@{
    ViewData["Title"] = "Registrar Producto";
}

<h1 class="text-center">Registrar Producto</h1>

<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <form asp-action="RegistrarProducto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="DescripcionProducto" class="control-label"></label>
                <input asp-for="DescripcionProducto" class="form-control" />
                <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PrecioUnitario" class="control-label"></label>
                <input asp-for="PrecioUnitario" class="form-control" />
                <span asp-validation-for="PrecioUnitario" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Imagen" class="control-label"></label>
                <input asp-for="Imagen" class="form-control" />
                <span asp-validation-for="Imagen" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <select asp-for="IdCategoria" class="form-select">
                    <option value="">Seleccione una categoria</option>
                    <option value="1">Componentes</option>
                    <option value="2">Perifericos</option>
                    <option value="3">Accesorios</option>
                    <option value="4">Computadoras</option>
                </select>
                <span asp-validation-for="IdCategoria" class="text-danger"></span>
            </div>

            <br />
            <br />
            <br />


            <!-- Botón de Registrar centrado -->
            <div class="form-group text-center mt-3">
                <input type="submit" value="Registrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/notificaciones.js"></script>
    <script>
        @if (ViewBag.Success != null && ViewBag.Message != null)
        {
            <text>
                                        var success = '@ViewBag.Success';
            var message = '@ViewBag.Message';

            // Convertir el valor de success en un booleano
            window.ViewBagSuccess = success === 'True';
            window.ViewBagMessage = message;
            </text>
        }
    </script>
}
